/*
* @Author: Administrator
* @Date:   2018-01-24 18:31:55
* @Last Modified by:   Administrator
* @Last Modified time: 2018-01-25 19:04:13
*/
@import url(bace.css);
@font-face {
    font-family: 'iconfont';  /* project id 550789 */
    src: url('https://at.alicdn.com/t/font_550789_g54pz6748jckgldi.eot');
    src: url('https://at.alicdn.com/t/font_550789_g54pz6748jckgldi.eot?#iefix') format('embedded-opentype'),
    url('https://at.alicdn.com/t/font_550789_g54pz6748jckgldi.woff') format('woff'),
    url('https://at.alicdn.com/t/font_550789_g54pz6748jckgldi.ttf') format('truetype'),
    url('https://at.alicdn.com/t/font_550789_g54pz6748jckgldi.svg#iconfont') format('svg');
}
.iconfont{
    font-family: 'iconfont';
}

/* 头部 */
.head{
    width: 100%;
    height: 70px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.head h1{
    width: 151px;
    height: 41px;
    margin: auto 0;
}
.head h1 a{
    display: block;
}
.head h1 a img{
    width: 100%;
    height: 100%;
    display: block;
}
.head .mid{
    width: 510px;
    height: auto;
    margin: auto 0;
}
.head .mid ul{
    display: flex;
    justify-content: space-between;
}
.head .mid ul li a{
    display: block;
    text-decoration: none;
}
.head .mid ul li{
    margin-right: 5px;
}
.head .mid ul li:hover h2{
    color: rgba(0, 0, 0, 0.6);
}
.head .mid ul li a h2{
    width: auto;
    height: auto;
    margin-right: 5px;
    font-size: 20px;
    font-weight: 400;
    color: #333;
}
.headyou{
    width: 200px;
    height: 41px;
    background: #6BD1D9;
    margin: auto 5px ;
    transform: skew(-10deg,0);
}
.headyou:hover .headyouli{
    background: rgba(28,184,196,0.7);
}
.headyouli{
    width: 180px;
    height: 41px;
    background: #09B3BF;
    margin: 0 auto;
    overflow: hidden;
}
.headyouli h2 {
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    padding-bottom: 10px;
    margin : 10px 0;
}
.headyou2{
    width: 25px;
    height: 30px;
    margin: auto 0 ;
}
.headyou2 i{
    font-style: normal;
    font-size: 30px;
    color: #333;
}
.con{
    width:100%;
    height: auto;
    background-color: #ffffff;
}
.connei{
    width:100%;
    height: 100%;
}
.connei h1{
    margin: 55px auto;
    font-size: 2.5rem;
    font-weight: 900;
    letter-spacing: .8px;
    color: #000;
    text-align: center;
}
/*got*/
.got{
    width: 100%;
    height: 530px;
    background-image: linear-gradient(90deg,#09b3bf,#5fe3c2);
    margin-top: 20px;
}
.gotnei{
    padding-top: 40px;
}
.gotntop{
    margin: 0 auto;
    text-align: center;
}
.gotntop p:first-child{
    font-weight: 200;
    color: #ffffff;
    font-size: 30px;
}
.gotntop p:last-child{
    color: #ffffff;
    font-weight: 600;
    font-size: 30px;
}
.gotnbt{
    width: 100%;
    height: 148px;
    overflow: hidden;
    margin-bottom: 20px;
}
.gotnbtimg1{
    width: 148px;
    height: 148px;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}
.gotnbtimg2{
    margin-top: 30px;
}
.gotnbtimg2 p{
    color: #ffffff;
    font-size: 11.25px;
}
.s1{
    width: 100%;
    height: auto;
    background-image: linear-gradient(90deg,#09b3bf,#5fe3c2);
}
.s1nei{
    margin:0 -15px;
}
.s1nei ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.s1nei ul li{
    background: #ffffff;
    height: 341px;
    padding: 15px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
    box-sizing: border-box;
}
.s1nei ul li:hover{
    transform: scale(1.1,1.1);
    transition: all 0.2s;
}
.s1nei ul li .sili{
    padding: 20px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.sitt{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sitt p,.sitt p strong{
    font-size: 23px;
}
.sib{
    margin-top: 30px;
    padding: 0 15px;
    width: auto;
    height: auto;
    background: #666666;
    transform: skew(-10deg,0);
}
.sib1{
    padding:10px 0;
    text-align: center;
    width: 100%;
    height: 100%;
    background: #000;
    color: #fff;
}
/*work*/
.work{
    width: 100%;
    height:auto;
}
.worknei{
    width: 100%;
    height: 100%;
}
.worknei h1{
    margin: 55px auto;
    font-size: 2.5rem;
    font-weight: 900;
    letter-spacing: .8px;
    color: #000;
    text-align: center;
}
.worknei h2{
    margin: 30px auto;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: .8px;
    color: #000;
    text-align: center;
}
.worknei .workb,.worknei .workb ul{
    width: 100%;
    height: auto;
    padding-bottom: 20px;
}
.worknei .workb ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.worknei .workb ul li{
    height: 208px;
    padding: 25px;
    box-shadow: 0 10px 20px 0 rgba(45,152,172,.2);
    box-sizing: border-box;
    border-radius: 6px;
    text-align: center;
}
.worknei .workb ul li:hover{
    transform: scale(1.1,1.1);
    transition: all 0.2s;
}
.worknei .workb ul li p{
    color: #000;
    font-size: 17px;
    font-weight: 400;
    padding: 10px;
}
.worknei .workb ul li p:last-child{
    color: #09b3bf;
}
/*tech*/
.tech{
    width: 100%;
    height: auto;
    border-top: 1px solid #E4F5F6;
}
.technei{
    width: 100%;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
}
.technei .tetop{
    width: 100%;
    height: auto;
}
.tetop h1{
    font-size: 25px;
    font-weight: 900;
    color: #333;
    text-align: center;
    margin: 5px 0;
}
.tebot{
    width: 100%;
    height: auto;
}
.tebot .tebott{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 20px;
}
.tebot .tebott div{
    width: 25%;
}
.tebot .tebotb{
    width: auto;
    height: auto;
}
.tebot .tebotb .tebot0{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.tebot .tebotb .tebot0 .teb1{
    width: 50px;
    height: auto;
}
.tebot .tebotb .tebot0 .teb1 .teb11{
    border-radius: 8px;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,.1);
    margin-bottom: 10px;
}
.tebot .tebotb .tebot0 .teb1 .teb11 img{
    width: 100%;
}
.tebot .tebotb .tebot0 .teb1 p{
    font-size: 7.5px;
    text-align: center;
}
.s2{
    margin-top: 30px;
    width: 100%;
    height: auto;
    background:#fff;
    border-top: 1px solid #E4F5F6;
}
.s2nei{
    width: 100%;
    height: 100%;
}
.s2nei h1{
    margin: 55px auto;
    font-size: 2.5rem;
    font-weight: 900;
    letter-spacing: .8px;
    color: #000;
    text-align: center;
}
.s2nei h2{
    margin: 30px auto;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: .8px;
    color: #000;
    text-align: center;
}
.s2nei ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.s2nei ul li{
    background: #ffffff;
    width: 320px;
    height: 341px;
    padding: 15px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
    box-sizing: border-box;
    box-shadow: 0 0 1px 2px rgba(0,0,0,0.2);
}
.s2nei ul li:hover{
    transform: scale(1.1,1.1);
    transition: all 0.2s;
}
.s2nei ul li .sili2{
    padding: 20px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.sitt2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.sitt2 .img{
    width: auto;
    height:auto;
}
.sitt2 p,.sitt2 p strong{
    font-size: 23px;
}
.sib2{
    margin-top: 30px;
    padding: 0 15px;
    width: auto;
    height: auto;
    background: #6BD1D9;
    transform: skew(-10deg,0);
}
.sib12{
    padding:10px 0;
    text-align: center;
    width: 100%;
    height: 100%;
    background: #09B3BF;
    color: #fff;
}
/*footer*/
.footer{
    width:100%;
    height: 347px;
    background: #2a2a2a;;
}
.footnei{
    width: 100%;
    padding: 40px 0;
    height: auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #555;
}
.footnei .f1 h2{
    margin-top: 20px;
    padding-bottom: 35px;
    overflow: hidden;
    font-size: .875rem;
    color: #c1c3c4;
}
.footnei .f1 ul{
    width: auto;
    height: 150px;
}
.footnei .f1 ul li{
    margin-bottom: 10px;
}
.footnei .f1 ul li a{
    color: #c1c3c4;
    font-size: .575rem;
}
.footer .nei2 .nei2l{
    width: auto;
    height: auto;
    padding: 5px 0;
    float: left;
}
.footer .nei2 .nei2l p{
    font-size: 0.85rem;
    color: #ffffff;
}
.footer .nei2 .nei2r{
    width: auto;
    height: auto;
    padding: 5px 0;
    float: right;
}
.footer .nei2 .nei2r p{
    font-size: 0.55rem;
    color: #ffffff;
    display: inline-block;
}
@media screen and (min-width: 1200px){
    .headyou2{
        display: none;
    }
    .headyou,.head .mid{
        display: block;
    }
    .secfirst{
        display: flex;
        justify-content: space-between;
    }
    .worknei .workb ul li{
        width: 23.5%;
    }
    .tebot .tebott{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .s1nei ul li{
        width: 350px;
    }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
    .headyou2{
        display: none;
    }
    .headyou,.head .mid{
        display: block;
    }
    .secfirst{
        display: flex;
        justify-content: space-between;
    }
    .worknei .workb ul li{
        width: 23.5%;
    }
    .tebot .tebott{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .s1nei ul li{
        width: 350px;
    }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
    .headyou2{
        display: block;
    }
    .headyou,.head .mid{
        display: none;
    }
    .secfirst{
        display: flex;
        flex-direction:column;
        justify-content: space-between;
    }
    .worknei .workb ul li{
        width: 48%;
    }
    .tebot .tebott{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .s1nei ul li{
        width: 330px;
    }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
    .headyou2{
        display: block;
    }
    .headyou,.head .mid{
        display: none;
    }
    .secfirst{
        display: flex;
        flex-direction:column;
        justify-content: space-between;
    }
    .worknei .workb ul li{
        width: 48%;
    }
    .tebot .tebott{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .s1nei ul li{
        width: 350px;
    }
}
@media screen and (max-width: 576px){
    .headyou2{
        display: block;
    }
    .headyou,.head .mid{
        display: none;
    }
    .secfirst{
        display: flex;
        flex-direction:column;
        justify-content: space-between;
    }
    .worknei .workb ul li{
        width: 97%;
    }
    .tebot .tebott{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .s1nei ul li{
        width: 350px;
    }
}